.dropbtn {
  background-color: rgb(148, 2, 21); /* Bordô escuro */
  color: white;
  font-size: 22px;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 10; /* Mantendo o z-index para o botão */
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 20; /* Aumentando z-index do dropdown */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5c0f18; /* Fundo do dropdown bordô escuro */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 30; /* Aumentando z-index para garantir que o conteúdo seja visível */
  border-radius: 10px;
  overflow: hidden;
  top: 100%; /* Faz o dropdown aparecer logo abaixo do botão */
  left: 0; /* Alinha o dropdown à esquerda do botão */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #9b1b30; /* Bordô mais claro ao passar o mouse */
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block; /* Exibe o conteúdo ao passar o mouse */
}

