.container-livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.livro-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px; /* Ajuste a largura conforme necessário */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #ffffff; 
}

.livro-item:hover {
    transform: scale(1.05); /* Aumenta ao passar o mouse */
}

.hidden {
    display: none;
}

.livro-sinopse {
    margin-top: 10px;
    font-size: 14px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o texto que excede o limite */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto que excede */
    max-width: 200px; /* Largura máxima da sinopse inicialmente */
    transition: max-width 0.3s ease; /* Animação para a transição de largura */
    max-height: 40px; /* Altura máxima da sinopse inicialmente */
    overflow-y: hidden; /* Oculta a barra de rolagem vertical inicialmente */
}

.livro-sinopse.expanded {
    white-space: normal; /* Permite quebra de linha quando expandido */
    max-width: 500px; /* Largura máxima quando expandido */
    max-height: 150px; /* Altura máxima quando expandido */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}
.livro-botao {
    margin-top: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}
